#navigation {
    margin-top: 20px;
}

.list-group-item.category {
    background-color: #00bc8c;
}

a.list-group-item,
a.list-group-item:hover {
    color: white;
}

footer {
    width: 100%;
    background-color: #303030;
}

.footer-content {
    float: left;
    padding: 19.5px 15px;
    height: 60px;
}

html, body {
    height: 100%;
}

.main-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    padding-top: 60px;
    padding-bottom: 42px;
}

.footer, .push {
    height: 60px;
}


.inner-addon {
    position: relative;
}
.inner-addon .glyphicon {
    position: absolute;
    padding: 15px;
    pointer-events: none;
}
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.form-control {
    border: solid #464545 1px;
    background-color: #303030;
    color: white;
}

.category {
    font-size: 50%;
    color: #999999;
}
.tags {
    font-size: 15px;
    color: #999999;
    margin-top: -10px;
    margin-bottom: 12px;
}
.tags .glyphicon {
    margin-right: 8px;
    font-size: 80%;
}