---
layout: default
---
<div class="col-xs-12 col-sm-8 col-sm-offset-2">
  <div class="page-header">
    <h2>{{ page.title }}
        {% if page.subtitle %}<small>{{ page.subtitle }}</small>{% endif %}
    </h2>
  </div>
  {{ content }}
  
  <div class="list-group">
    {% for section in site.sections %}
    {% assign attr = section[0] %}
    {% assign label = section[1] %}

    {% for page in site.categories[attr] %}
    {% if forloop.first %}
    <span class="list-group-item category">// {{ label }}</span>
    {% endif %}
    {% if page.archive %}
    <a data-order="{{ page.order }}" href="{{ site.baseurl }}{{ page.url }}" class="list-group-item">{{ page.title }}</a>
    {% endif %}
    {% endfor %}
    {% endfor %}
    <!-- List additional links. It is recommended to add a divider
	 e.g. <li class=divider></li> first to break up the content. -->
  </div>

</div>
