<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <title>{% if page.title %} {{ page.title }} | {% endif %}{{ site.title }}</title>
        <meta name="description" content="{{ site.subtitle }}">

        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.darkly.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/jquery.sidr.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">
    </head>
    <body>
      {% include header.html %}
      <div class="container-fluid">
	{% include navigation.html %}

        <div class="row">
          <div id="content" class="col-md-12">
            {{ content }}
          </div>
        </div>

        {% include footer.html %}
      </div>
      
      <script src="{{ site.baseurl }}/assets/js/order-nav.js"></script>
      <script src="{{ site.baseurl }}/assets/js/jquery-1.11.2.min.js"></script>
      <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
      <script src="{{ site.baseurl }}/assets/js/jquery.sidr.min.js"></script>
      
      <script>
	$(document).ready(function() {
	  $('.toggle-menu').sidr({side:'right'});
	});
      </script>

    </body>
</html>
